@charset "UTF-8";
@import 'https://stas-melnikov.ru/r-blocks/r-button.css';
@import 'https://stas-melnikov.ru/r-blocks/r-link.css';
@import 'https://stas-melnikov.ru/r-blocks/r-list.css';
@import url("https://fonts.googleapis.com/css?family=Just+Another+Hand");
@font-face {
  font-family: 'Montserrat Italic';
  src: url("Montserrat-Italic.eot");
  src: url("Montserrat-Italic.eot?#iefix") format("embedded-opentype"), url("Montserrat-Italic.woff") format("woff"), url("Montserrat-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@keyframes spin {
  from {
    transform: rotate(0); }
  to {
    transform: rotate(359deg); } }

@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px); }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px); }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px); }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px); }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes swing {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px); }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px); }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px); }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px); }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes textAnimation {
  0% {
    opacity: 0; }
  5% {
    opacity: 0;
    -moz-transform: translateY(-30px); }
  10% {
    opacity: 1;
    -moz-transform: translateY(0); }
  25% {
    opacity: 1;
    -moz-transform: translateY(0); }
  30% {
    opacity: 0;
    -moz-transform: translateY(30px); }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@-webkit-keyframes textAnimation {
  0% {
    opacity: 0; }
  5% {
    opacity: 0;
    -webkit-transform: translateY(-30px); }
  10% {
    opacity: 1;
    -webkit-transform: translateY(0); }
  25% {
    opacity: 1;
    -webkit-transform: translateY(0); }
  30% {
    opacity: 0;
    -webkit-transform: translateY(30px); }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@-ms-keyframes textAnimation {
  0% {
    opacity: 0; }
  5% {
    opacity: 0;
    -ms-transform: translateY(-30px); }
  10% {
    opacity: 1;
    -ms-transform: translateY(0); }
  25% {
    opacity: 1;
    -ms-transform: translateY(0); }
  30% {
    opacity: 0;
    -ms-transform: translateY(30px); }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

html {
  background-color: white; }

body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: auto;
  overflow-x: hidden; }

.bgVideo {
  display: block;
  width: 100%;
  height: 100%; }

.headerScrolled {
  background-color: white; }

.headerScrolled .nav-item {
  color: black; }

.headerFade {
  opacity: 0;
  transform: translateY(-100%); }

.header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  top: 0;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  z-index: 1000;
  transition: 0.3s; }

.header .logo {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 10px 0 5px 2rem; }

.header #logo {
  width: 80%; }

.header a {
  color: #fff;
  text-decoration: none; }

.header .nav-item:hover {
  /*text-decoration: underline $blueColor;*/
  border-bottom: 2px solid #00A3DA; }

.header #logo:hover {
  -webkit-animation: swing 0.6s ease;
  animation: swing 0.6s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

/*
=====
LEVEL 2. MENU STYLES
=====
*/
.menu {
  --uiMenuCircleSize: var(--menuCircleSize, 100px);
  --uiMenuCircleBgColor: var(--menuCircleBgColor, currentColor);
  --uiMenuHamburgerSize: var(--menuHamburgerSize, 20px);
  --uiMenuHamburgerBgColor: var(--menuHamburgerBgColor, #fff);
  --rButtonFontSize: var(--uiMenuHamburgerSize);
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9998; }

.menu__nav {
  box-sizing: border-box;
  width: 100%;
  height: 0;
  transition: opacity .2s ease-out;
  opacity: 0;
  display: flex;
  align-items: flex-end;
  z-index: 2; }

.menu__list {
  width: 100%;
  max-height: 100%;
  display: none;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }

/* hamburger */
.hamburger {
  width: 1em;
  font-size: var(--uiMenuCircleSize);
  flex: none;
  position: absolute;
  line-height: 0;
  text-align: center;
  right: 5%;
  top: 10px;
  visibility: hidden; }

.hamburger:before {
  content: "";
  width: 1em;
  height: 1em;
  background-color: var(--uiMenuCircleBgColor);
  border-radius: 50%;
  position: absolute;
  bottom: -.5em;
  left: calc(50% - .5em);
  will-change: width, height;
  transition: transform 0.25s cubic-bezier(0.04, -0.1, 0.29, 0.98), width 0.25s cubic-bezier(0.04, -0.1, 0.29, 0.98), height 0.25s cubic-bezier(0.04, -0.1, 0.29, 0.98); }

.hamburger__button {
  width: 1.4em;
  height: 1em;
  position: relative;
  text-indent: -9999px;
  z-index: 2;
  transform: translateY(50%); }

.hamburger__button:before,
.hamburger__button:after,
.hamburger__label {
  width: 100%;
  height: .2em;
  border-radius: 5px;
  background-color: var(--uiMenuHamburgerBgColor);
  position: absolute;
  left: 0;
  transition-timing-function: ease;
  transition-duration: .15s; }

.hamburger__button:before,
.hamburger__button:after {
  content: "";
  transition-property: transform; }

.hamburger__button:before {
  top: 0; }

.hamburger__button:after {
  bottom: 0; }

.hamburger__label {
  top: calc(50% - .1em);
  transition-property: transform, opacity; }

/* focused state */
.hamburger__button:focus {
  outline: none; }

/* activated state */
.menu_activated {
  height: 100%; }

.menu_activated .menu__nav {
  height: 100%;
  opacity: 1;
  will-change: opacity;
  transition-duration: .2s;
  transition-delay: .3s; }

.menu_activated .hamburger:before {
  width: 100vmax;
  height: 100vmax;
  transform: translate3d(-50vh, -50vh, 0) scale(5);
  transition-duration: 1s; }

.menu_activated .menu__list {
  display: block;
  position: absolute;
  top: 20%;
  left: 0; }

.menu_activated .hamburger__button:before {
  top: 50%;
  transform: translate3d(0, -50%, 0) rotate(45deg); }

.menu_activated .hamburger__button:after {
  transform: translate3d(0, -50%, 0) rotate(135deg);
  top: 50%; }

.menu_activated .hamburger__label {
  transform: rotate(-45deg) translate3d(-0.285em, -0.3em, 0);
  opacity: 0; }

/*
=====
LEVEL 3. DEMO
=====
*/
@media (min-width: 768px) {
  html {
    font-size: 62.5%; } }

@media (max-width: 767px) {
  html {
    font-size: 50%; } }

body {
  display: flex;
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
  font-size: 1.6rem; }

.page {
  max-width: 380px;
  padding: 10px;
  margin: auto;
  text-align: center; }

.page__name {
  display: block;
  font-size: 3rem;
  font-weight: 700; }

.page__hint {
  display: block;
  line-height: 1.45;
  margin-top: 1rem; }

.menu__group {
  --rLinkColor: var(--colorWhite);
  padding: .5rem 3rem;
  font-size: 3.2rem;
  text-transform: capitalize;
  font-family: 'Montserrat Italic'; }

.menu__group:nth-child(1) {
  --rLinkColor: var(--colorWhite);
  padding: .5rem 3rem;
  font-size: 4rem;
  text-transform: capitalize;
  font-family: 'Montserrat Italic'; }

/*
=====
LEVEL 4. SETTINGS
=====
*/
:root {
  --colorWhite: #fff;
  --colorMain: #00A3DA;
  --rLinkColor: var(--colorMain);
  --menuCircleSize: 50px;
  --menuCircleBgColor: var(--colorMain);
  --menuHamburgerSize: 20px;
  --menuHamburgerBgColor: var(--colorWhite); }

.header nav {
  margin-right: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end; }

.header .nav-item {
  font-size: 100%;
  text-align: center;
  margin: 5px 0 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*transition: .2s;*/
  text-transform: uppercase;
  font-family: 'Montserrat Italic'; }

.header #headerNav {
  position: fixed;
  z-index: 999; }

.nav-menu {
  display: flex;
  margin-bottom: 10px; }

.clientsSliderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
  height: 10%;
  visibility: hidden;
  transition: 0.3s; }

.clientsSliderFade {
  opacity: 0;
  transform: translateY(100%); }

.clientsSliderShow {
  visibility: visible; }

.clientsSlider h4 {
  padding: 0 8px;
  font-size: 18px;
  display: inline-block;
  color: black;
  margin-bottom: 30px; }

.loaderArea {
  background: #25292F;
  overflow: hidden;
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center; }

.circle-border {
  width: 150px;
  height: 150px;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #3ff9dc;
  background: linear-gradient(0deg, rgba(24, 144, 184, 0.1) 33%, #00a3da 100%);
  animation: spin .8s linear 0s infinite; }

.loadingSign {
  text-transform: capitalize;
  text-shadow: -1px -1px 10px rgba(0, 0, 0, 0.1);
  color: white;
  font-weight: 900;
  height: auto;
  width: 100%;
  display: block;
  margin: .3em 0;
  font-size: 30px;
  box-sizing: border-box;
  font-family: 'Montserrat Italic';
  position: absolute;
  top: 45%;
  left: 40%; }

.circle-core {
  width: 100%;
  height: 100%;
  background-color: #25292F;
  border-radius: 50%; }

.homePage {
  margin-top: 60px;
  width: 100vw;
  height: 100vh;
  margin: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #25292F;
  flex: auto;
  box-sizing: border-box;
  margin-bottom: 5%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.2);
  transition: box-shadow 83ms; }

.homePage .homeTextWrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  bottom: 16%;
  left: 30px;
  width: 90%;
  font-size: 12px;
  z-index: 5; }

.homePage .bigLine {
  width: 70%;
  min-height: 80px;
  font-family: 'Montserrat Italic';
  font-size: 60%;
  display: flex; }

.homePage .bigText {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 5%; }

.homePage .smallText {
  display: flex;
  flex-direction: column; }

.homePage .smallLine {
  color: white;
  min-height: 30px;
  font-family: 'Montserrat Italic';
  width: 40%;
  line-height: 1.5; }

.homePage .smallLine2 {
  color: white;
  min-height: 30px;
  font-family: 'Montserrat Italic';
  width: 60%;
  margin-top: 1.5em; }

.homePage .cityText {
  color: #00A3DA; }

.homePage .homeTitle {
  text-transform: capitalize;
  text-shadow: -1px -1px 10px rgba(0, 0, 0, 0.1);
  color: white;
  font-weight: 900;
  height: auto;
  width: 100%;
  display: block;
  margin: .3em 0;
  font-size: 30px;
  box-sizing: border-box; }

.homePage .verticalSlider {
  display: inline;
  text-indent: 12px; }

.homePage .verticalSlider span {
  animation: textAnimation 15s linear infinite 0s;
  -ms-animation: textAnimation 15s linear infinite 0s;
  -webkit-animation: textAnimation 15s linear infinite 0s;
  color: #00A3DA;
  overflow: hidden;
  opacity: 0;
  position: absolute;
  font-weight: 700 !important;
  text-transform: uppercase; }

.homePage .verticalSlider span:nth-child(2) {
  animation-delay: 5s;
  -ms-animation-delay: 5s;
  opacity: 0;
  -webkit-animation-delay: 5s; }

.homePage .verticalSlider span:nth-child(3) {
  animation-delay: 10s;
  -ms-animation-delay: 10s;
  opacity: 0;
  -webkit-animation-delay: 10s; }

#before-load {
  position: fixed;
  /*фиксированное положение блока*/
  left: 0;
  /*положение элемента слева*/
  top: 0;
  /*положение элемента сверху*/
  right: 0;
  /*положение элемента справа*/
  bottom: 0;
  /*положение элемента снизу*/
  background: #fff;
  /*цвет заднего фона блока*/
  z-index: 1001;
  /*располагаем его над всеми элементами на странице*/ }

#before-load i {
  width: 70px;
  /*ширина gif-изображения*/
  height: 70px;
  /*высота gif-изображения*/
  position: absolute;
  left: 50%;
  top: 50%;
  background: url("/images/Spinner.gif") no-repeat 50% 50%;
  /*расположение (url) изображения gif и др. параметры*/
  margin: -35px 0 0 -35px; }

.newPage {
  width: 100vw; }

.newPage .newPageContainer {
  display: flex;
  flex-direction: column;
  height: 100vh; }

.newPageContainerN3 {
  display: flex;
  flex-direction: column; }

#secondPage {
  height: 100%; }

.secondPageContentWrapper {
  height: 100%;
  width: 100%;
  display: flex; }

.secondPageTopBlocksContainer {
  display: flex; }

.secondPageTopBlock {
  background-color: #FAFAFA;
  width: 49vw;
  height: 50vh;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  display: flex;
  flex-direction: column;
  color: #555555; }

.secondPageTopBlock:nth-child(2) {
  background-position-x: 100%; }

.secondPageTopLeftPicture {
  height: 50%;
  width: 30%;
  background-size: cover;
  display: flex;
  background-size: 100% 85%;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0; }

.secondPageTopRightPicture {
  height: 40%;
  width: 30%;
  margin-top: 5%;
  padding: 0 20px;
  background-size: 100% 90%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center; }

.secondPageLeftPicture {
  position: relative;
  height: 269px;
  width: 40vw;
  transform: translate(0%, 30%); }

.secondPageRightPicture {
  position: relative;
  height: 269px;
  width: 40vw;
  transform: translate(0%, 20%); }

#secondpageBlockTitle {
  color: #00A3DA;
  position: relative;
  display: flex;
  width: 90%;
  font-size: 2vw;
  text-overflow: ellipsis; }

.titleCenterer {
  display: flex;
  justify-content: center;
  width: 100%; }

.secondPageTabletGrid {
  width: 100%;
  height: 100%; }

.secondPageTopBlockText {
  font-family: 'Montserrat Italic';
  line-height: 1.5;
  width: 60%;
  padding: 5%;
  font-size: 1vw;
  position: relative;
  box-sizing: border-box;
  text-align: justify;
  font-weight: 600; }

.thirdPageText {
  font-family: 'Montserrat Italic';
  height: 25%;
  line-height: 1.5;
  position: relative;
  padding: 5%;
  text-align: justify;
  width: 100%;
  font-size: 1vw;
  font-weight: 600; }

.secondPageBottomBlockContainer {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: center; }

.secondPageBottomBlockPicture {
  width: 60%;
  background-size: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; }

.secondPageBottomPicture {
  width: 100%;
  height: 80%;
  padding-left: 5%; }

.secondPageRightBottomBlock {
  width: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column; }

.thirdPageContainer {
  display: flex;
  justify-content: center;
  perspective: 1000px;
  margin-top: 30px; }

.thirdPageTextBackground {
  height: 10vh; }

.thirdPageBackground {
  height: 100%;
  background-color: #FAFAFA;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 100%;
  color: #555555;
  margin-top: 2vmin; }

.cardContainer {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around; }

.card1 {
  transition: .3s;
  position: relative; }

.card2 {
  transition: .3s;
  position: relative; }

.card3 {
  position: relative; }

.card4 {
  transition: .3s;
  position: relative; }

.card1:hover,
.card2:hover,
.card4:hover {
  transform: scale(1.1); }

.card-inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
  height: 45vmin;
  max-height: 600px;
  width: 15vw;
  margin-right: 5px; }

#lastCard {
  margin-right: 20px; }

.card-front,
.card-back {
  position: absolute;
  transition: .3s;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden; }

.card1Picture {
  width: 100%;
  height: 100%; }

.card2Picture {
  width: 100%;
  height: 100%; }

.card3Picture {
  width: 100%;
  height: 100%; }

.card4Picture {
  width: 100%;
  height: 100%; }

.card-front {
  z-index: 2; }

.card-back {
  transform: rotateY(180deg);
  z-index: 1; }

.card:active {
  margin-left: 1px 1px 0;
  box-shadow: -1px -1px 1px #000;
  outline: 1px solid black;
  -moz-outline-radius: 5px;
  background-image: linear-gradient(to top, #f4f5f5, #dfdddd); }

#card1Control:checked + label .card-inner,
#card2Control:checked + label .card-inner,
#card4Control:checked + label .card-inner {
  transform: rotateY(180deg);
  transition: transform 0.6s;
  transform-style: preserve-3d; }

#card1Control,
#card2Control,
#card4Control {
  display: none; }

.newPage .titleHeader {
  margin-left: 20px;
  display: flex;
  height: 5%;
  /* align-items: flex-end; */
  justify-content: center;
  text-transform: uppercase;
  font-family: 'Montserrat Italic';
  margin-top: 7%;
  color: #485058;
  font-size: 2vmax; }

.titleHeaderWithMargin {
  margin-left: 20px;
  display: flex;
  height: 5%;
  /* align-items: flex-end; */
  justify-content: center;
  text-transform: uppercase;
  color: black;
  font-family: 'Montserrat Italic';
  font-size: 2vmax;
  color: #485058; }

.newPage #titleHeaderLine {
  visibility: hidden;
  padding-right: 2vh;
  font-size: 2em;
  display: flex;
  color: #00A3DA;
  align-items: center;
  height: 2.5rem; }

.fourthPageTextContainer {
  display: flex;
  width: 100%;
  flex-direction: column; }

.fourthPageTopText {
  width: 75%; }

.fourthPageBottomText {
  width: 50%; }

#fourthPageBlockTitle {
  color: #00A3DA;
  position: relative;
  display: flex;
  width: 90%;
  font-size: 2vw;
  text-overflow: ellipsis;
  margin-left: 3vmax; }

.textBold {
  font-weight: bold;
  display: flex;
  margin: 0 0 2vmax 3vmax;
  flex-direction: row;
  font-size: 2vw;
  color: #485058; }

.fourthPageText {
  display: flex;
  font-family: 'Montserrat Italic';
  padding-bottom: 10%;
  font-size: 1.4vw;
  flex-direction: column; }

.fourthPagePic {
  display: flex;
  padding: 0 2% 5% 2%;
  width: 100vw;
  justify-content: center; }

#optionsPic {
  transition: .3s;
  cursor: default; }

.fourthPageSmallText {
  color: #485058;
  line-height: 1.5;
  margin-left: 3vmax;
  font-size: 1vw;
  font-weight: 600; }

.containerS {
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
  width: 80%;
  height: 0;
  padding-bottom: 50%;
  user-select: none;
  background-color: #1c1c1c;
  box-shadow: 0 11px 22px rgba(0, 0, 0, 0.2), 0 7px 7px rgba(0, 0, 0, 0.24); }
  .containerS input {
    display: none; }
  .containerS .slide_img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1; }
    .containerS .slide_img img {
      width: inherit;
      height: inherit; }
    .containerS .slide_img .prevS,
    .containerS .slide_img .nextS {
      width: 8%;
      height: inherit;
      position: absolute;
      top: 0;
      background-color: rgba(243, 243, 243, 0.1);
      z-index: 99;
      transition: .45s;
      cursor: pointer;
      text-align: center; }
    .containerS .slide_img .nextS {
      right: 0; }
    .containerS .slide_img .prevS {
      left: 0; }
    .containerS .slide_img .prevS:hover,
    .containerS .slide_img .nextS:hover {
      transition: .3s;
      background-color: rgba(243, 243, 243, 0.4); }
    .containerS .slide_img .prevS span,
    .containerS .slide_img .nextS span {
      position: absolute;
      width: 0px;
      height: 0px;
      border: solid 20px;
      top: 50%;
      transform: translateY(-50%); }
    .containerS .slide_img .prevS span {
      border-color: transparent #fff transparent transparent;
      right: 35%; }
    .containerS .slide_img .nextS span {
      border-color: transparent transparent transparent #fff;
      left: 35%; }
  .containerS #nav_slide {
    width: 100%;
    bottom: 12%;
    height: 11px;
    position: absolute;
    text-align: center;
    z-index: 99;
    cursor: default; }
    .containerS #nav_slide .dots {
      top: -5px;
      width: 18px;
      height: 18px;
      margin: 0 3px;
      position: relative;
      border-radius: 100%;
      display: inline-block;
      background-color: rgba(0, 0, 0, 0.6);
      transition: .4s;
      cursor: pointer; }
    .containerS #nav_slide #dot1:hover {
      background: #795548; }
    .containerS #nav_slide #dot2:hover {
      background: white; }
    .containerS #nav_slide #dot3:hover {
      background: #2196F3; }
    .containerS #nav_slide #dot4:hover {
      background: #4CAF50; }

#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three,
#i4:checked ~ #four {
  z-index: 9;
  animation: scroll 1s ease-in-out; }

#i1:checked ~ #nav_slide #dot1 {
  background: #795548; }

#i2:checked ~ #nav_slide #dot2 {
  background: white; }

#i3:checked ~ #nav_slide #dot3 {
  background: #2196F3; }

#i4:checked ~ #nav_slide #dot4 {
  background: #4CAF50; }

@keyframes scroll {
  0% {
    opacity: .4; }
  100% {
    opacity: 1; } }

@media screen and (max-width: 685px) {
  .containerS {
    border: none;
    width: 100%;
    height: 0;
    padding-bottom: 55%; }
    .containerS .slide_img .prevS,
    .containerS .slide_img .nextS {
      width: 15%; }
    .containerS .slide_img .prevS span,
    .containerS .slide_img .nextS span {
      border: solid 12px; }
    .containerS .slide_img .prevS span {
      border-color: transparent #fff transparent transparent; }
    .containerS .slide_img .nextS span {
      border-color: transparent transparent transparent #fff; }
    .containerS #nav_slide .dots {
      width: 12px;
      height: 12px; } }

.yt {
  margin: 0 auto;
  margin-top: 30px;
  width: 80px;
  height: 40px;
  border-radius: 4px;
  text-align: center;
  background: #2196F3;
  box-shadow: 0 11px 22px rgba(0, 0, 0, 0.2), 0 7px 7px rgba(0, 0, 0, 0.24);
  transition: .4s;
  opacity: .4; }
  .yt a {
    position: relative;
    text-decoration: none;
    color: #fff;
    font-size: 23px;
    top: 4px; }

.yt:hover {
  transition: .3s;
  box-shadow: none;
  opacity: .8; }

.fourthPageBackground {
  background-color: #FAFAFA;
  margin-top: 2vh; }

.fifthPageBackground {
  background-color: #FAFAFA;
  height: 100%;
  margin-bottom: 2vh; }

.fifthPageContainer {
  display: flex;
  flex-direction: column;
  width: 100%; }

.fifthPageBlock {
  display: flex; }

.fifthPagePicture {
  width: 30%;
  max-height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10%; }

.fifthPageRightBlock {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center; }

.fifthPageLeadContainer {
  display: flex;
  flex-direction: column;
  padding: 5px; }

.fifthPageLead {
  display: flex;
  justify-content: center; }

.leadTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Arial';
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5;
  padding-left: 2vw; }

#tooBigShip {
  width: 10px;
  height: 10px; }

.leadText {
  font-family: 'Montserrat Italic';
  display: flex;
  padding: 0 5% 0 25%;
  margin-top: 2vh;
  font-weight: 600;
  color: #434343aa;
  font-size: 1vmax; }

.leadPic {
  width: 30%;
  padding-left: 35%;
  margin-bottom: 10px; }

.sixthPageBackground {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.2);
  transition: box-shadow 83ms;
  background-color: #25292F;
  height: 100%; }

.sixthPageContainer {
  display: flex; }

.sixthPageBlock {
  width: 30%;
  margin: 0 1.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00A3DA;
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  height: 30vh; }

.contactBackground {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.2);
  transition: box-shadow 83ms;
  background-color: #FAFAFA; }

#linkedin {
  border-radius: 50px; }

.leftTextBoldTitle {
  display: flex;
  width: 30%;
  flex-direction: column; }

.rightTextBoldTitle {
  display: flex;
  width: 40%;
  flex-direction: column; }

.newPage .newPageContainer {
  display: flex;
  flex-direction: column; }

#mailto {
  text-decoration: none;
  color: #00A3DA; }

.sizeable {
  display: block;
  float: left;
  cursor: pointer;
  padding: 6px; }

.fullscr {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer; }

.fullscr > img {
  width: 100%;
  height: 100%; }

.fakeDiv {
  height: 2vmax;
  width: 70%;
  border-bottom: 1px solid #485058;
  margin: 0 0 1vmax 2vmax; }

@media screen and (max-width: 799px) {
  .nav-menu {
    display: none; }
  .hamburger {
    visibility: visible; }
  .secondPageTopBlock {
    background-size: 120px 140px; }
  .secondPageBottomBlock {
    background-size: 120px 140px; } }

@media screen and (max-width: 767px) {
  .header {
    width: 100%;
    display: flex;
    justify-content: space-around; }
  .nav-menu a {
    display: block;
    padding: 8px;
    width: 100%; }
  .toggle-button {
    text-align: center;
    display: block;
    cursor: pointer;
    color: #000;
    margin-top: 10px; }
  .toggle-button::after {
    content: attr(data-open);
    color: #378ef0;
    top: 30px;
    font-weight: 1000;
    font-family: 'Montserrat Italic';
    display: block;
    position: absolute;
    right: 5%; }
  #menu-checkbox:checked + nav[role='navigation'] .nav-menu {
    display: block;
    position: absolute;
    right: 40px;
    top: 60px; }
  #menu-checkbox:checked + nav[role='navigation'] .toggle-button::after {
    content: attr(data-close);
    position: absolute; }
  .header a {
    margin-right: -65px; }
  .header .nav-item {
    font-size: 10px; }
  .header .logo {
    width: 20%;
    justify-content: flex-start;
    position: absolute;
    left: 0;
    top: 5%; }
  .nav-menu {
    position: relative;
    top: 30px;
    padding-right: 8%; }
  .homePage .homeTitle {
    font-size: 25px; }
  .homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative; }
  .fourthPageTextContainer {
    flex-direction: column; }
  .fourthPageTopText {
    width: 100%; }
  .fourthPageBottomText {
    width: 100%;
    border: none; }
  .card-inner {
    height: 25vmax;
    width: 15vw; }
  .thirdPageContainer {
    margin-top: 30px; }
  .thirdPageBackground {
    margin-top: 2vh; } }

.no-video .element-with-video-bg video,
.touch .element-with-video-bg video {
  display: none; }

*::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none; }

.no-video .element-with-video-bg .poster,
.touch .element-with-video-bg .poster {
  display: block !important; }

*::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none; }

.element-with-video-bg {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 80vh;
  background: #25292F; }

.element-with-video-bg .poster img {
  width: 100%;
  bottom: 0;
  position: absolute; }

.element-with-video-bg .filter {
  z-index: 100;
  position: absolute;
  background: #25292F;
  width: 100%; }

.element-with-video-bg video {
  position: absolute;
  z-index: 0;
  top: 65%;
  height: auto;
  width: 100%;
  object-fit: contain;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%; }

.columnDirector {
  flex-direction: column; }

.element-with-video-bg video.fillWidth {
  width: 100vw;
  height: 100vh; }

@media screen and (min-height: 410px) and (max-height: 412px) {
  .titleHeaderWithMargin {
    margin-top: 50px; } }

@media screen and (min-width: 700px) and (max-width: 1024px) {
  .header .nav-item {
    font-size: 10px; } }

@media screen and (min-width: 1900px) {
  .homePage .homeTextWrapper {
    font-size: 18px; }
  .secondPageTopBlock {
    font-size: 3rem; }
  .secondPageRightBottomBlock {
    font-size: 3rem; }
  .secondPageTopBlock {
    background-size: 540px 580px; }
  .secondPageTopBlock:nth-child(2) {
    background-size: 540px 580px;
    background-position-x: 0%; }
  .thirdPageBackground {
    background-size: 540px 580px; }
  .thirdPageTextBlock {
    font-size: 3rem;
    height: 30%; } }

@media screen and (max-width: 700px) {
  .element-with-video-bg video {
    top: 40%; }
  .homePage .homeTextWrapper {
    bottom: 30%; }
  .homePage .smallLine {
    width: 70%; }
  .newPage .titleHeader {
    margin-left: 5px; } }

@media screen and (max-width: 765px) and (min-width: 550px) {
  .header #logo {
    width: 50%; } }

@media screen and (max-width: 540px) {
  .secondPageTopBlock,
  .secondPageRightBottomBlock {
    font-size: 60%; }
  #linkedin {
    width: 50%;
    height: 50%;
    margin-left: 25%; }
  .secondPageTopBlockText,
  .thirdPageText {
    line-height: 1.5;
    font-size: 1.2rem; }
  .secondPageBottomBlockText {
    line-height: 1.5;
    font-size: 1.2rem; }
  .secondPageBottomBlock {
    flex-direction: column; }
  .secondPageRightBottomBlock {
    width: 100%; }
  .secondPageTopLeftPicture {
    height: 50%; }
  .secondPageTopRightPicture {
    height: 45%; }
  .fourthPageText {
    line-height: 1.5;
    font-size: 1.2rem; }
  .thirdPageContainer {
    margin-top: 4vh; }
  .secondPageBottomBlockPicture {
    width: 100%; }
  .leadText {
    line-height: 1.5;
    font-size: 1.2rem;
    padding: 0 5% 5% 5%; }
  .sixthPageBlock {
    font-size: 1.4rem;
    height: 20vh; } }

.secondPageBottomBlockPicture {
  width: 100%; }

@media screen and (max-height: 568px) {
  .secondPageTopBlock {
    font-size: 60%; }
  .secondPageTopBlockText {
    font-size: 1rem; }
  .secondPageBottomBlockText {
    font-size: 1rem; }
  .secondPageRightBottomBlock {
    font-size: 60%; }
  .fourthPageText {
    font-size: 1rem; }
  .secondPageTopRightPicture {
    height: 35%; }
  .secondPageTopLeftPicture {
    height: 45%; }
  .homePage .homeTextWrapper {
    font-size: 60%; }
  .bigText {
    padding-top: 5%; }
  .homePage .bigText {
    margin: 0; }
  .thirdPageBackground {
    margin-top: 3vw; }
  .homePage .homeTitle {
    font-size: 20px; }
  .homePage .smallLine2 {
    visibility: hidden; }
  .thirdPageTextBlock {
    font-size: 0.9rem; }
  .newPage .titleHeader {
    margin-top: 5%; }
  .leadText {
    font-size: 1rem; }
  .sixthPageBlock {
    font-size: 1.2rem; }
  #linkedin {
    width: 50%;
    height: 50%;
    margin-left: 25%; } }

@media screen and (min-height: 568px) {
  .sixthPageBlock {
    font-size: 1rem; } }

@media screen and (min-height: 700px) {
  .sixthPageBlock {
    font-size: 2rem; } }

@media screen and (max-width: 430px) {
  .homePage .bigText {
    margin: 0; }
  .secondPageTopBlocksContainer {
    flex-direction: column;
    align-items: center; }
  .secondPageTopBlock {
    width: 100%;
    height: 45vh;
    font-size: 50%;
    margin: 0 0 5% 0; }
  .secondPageTopBlock:nth-child(2) {
    margin: 0; }
  .card1:hover,
  .card2:hover,
  .card4:hover {
    transform: none; }
  .secondPageLeftPicture {
    width: 100%;
    height: 100%; }
  .secondPageTopBlock {
    display: flex;
    flex-direction: row; }
  .secondPageTopBlockPicture {
    height: 100%; }
  .secondPageTabletGrid {
    font-size: 0.9rem; }
  .thirdPageTextBlock {
    position: relative;
    font-size: 0.9rem; } }

@media screen and (max-width: 320px) {
  .thirdPageTextBlock {
    font-size: 0.9rem; } }

@media screen and (min-width: 430px) and (max-width: 824px) {
  .homePage .bigText {
    margin: 0; }
  .secondPageTopBlocksContainer {
    flex-direction: column;
    align-items: center; }
  .secondPageTopBlock {
    width: 100%;
    height: 40vh;
    font-size: 50%;
    margin: 0 0 2vh 0; }
  .secondPageTopBlock:nth-child(2) {
    margin: 0; }
  .secondPageLeftPicture {
    width: 100%;
    height: 100%; }
  .secondPageContentWrapper {
    display: flex; }
  .secondPageTopBlock {
    display: flex;
    flex-direction: row; }
  .secondPageTopBlockPicture {
    height: 100%; }
  .secondPageTabletGrid {
    font-size: 0.9rem; }
  .secondPageTabletGrid {
    height: 40%; }
  .element-with-video-bg {
    height: 100vh; }
  .homePage .homeTextWrapper {
    bottom: 25%; }
  .thirdPageTextBlock {
    font-size: 0.9rem; }
  .homePage .homeTextWrapper {
    bottom: 25%; }
  .secondPageTopBlockText {
    width: 90%;
    margin-right: 30px; }
  .secondPageBottomBlockText {
    font-size: 1rem; }
  .fourthPageText {
    font-size: 1rem; }
  .secondPageTopLeftPicture {
    width: 60%;
    height: 100%; }
  .secondPageTopRightPicture {
    width: 60%;
    height: 100%; }
  .sixthPageBlock {
    font-size: 2rem; }
  .secondPageTopRightPicture {
    margin: 0; } }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .newPage .newPageContainer {
    height: 120vh; }
  .homePage .smallLine2 {
    visibility: hidden; }
  .secondPageTopBlock:nth-child(1) {
    margin: none;
    margin-right: 0; }
  .secondPageTopBlock:nth-child(2) {
    margin: none;
    margin-left: 1vw; } }

@media screen and (max-height: 320px) {
  .thirdPageBackground {
    margin-top: 7vw; }
  .thirdPageTextBlock {
    font-size: 0.9rem; }
  .homePage .homeTextWrapper {
    bottom: 40%; } }

@media screen and (min-width: 600px) and (min-height: 1000px) {
  .secondPageTabletGrid {
    height: 100%;
    font-size: 1rem; }
  .thirdPageTextBlock {
    font-size: 1rem; }
  .secondPageTopBlockText {
    font-size: 1.7rem; }
  .secondPageBottomBlockText {
    font-size: 1.7rem; }
  .fourthPageText {
    font-size: 1.7rem; }
  .newPage .newPageContainer {
    height: 60vh; }
  .leadText {
    font-size: 1.7rem; }
  .sixthPageBlock {
    height: 20vh;
    font-size: 2.5rem; } }

@media screen and (min-width: 1300px) and (min-height: 1000px) {
  .secondPageTopBlockPicture {
    height: 100%; }
  .secondPageTabletGrid {
    height: 100%;
    font-size: 1.7rem; }
  #linkedin {
    width: 200%;
    height: 200%;
    border-radius: 100px; }
  .secondPageTopBlockText,
  .thirdPageText,
  .fourthPageSmallText {
    font-size: 3.5rem; }
  .thirdPageTextBlock {
    font-size: 1rem; }
  .thirdPageContainer {
    margin-top: 5vh; }
  .secondPageBottomBlockText {
    font-size: 2.5rem; }
  .fourthPageText {
    font-size: 2.5rem; }
  #fourthPageBlockTitle {
    font-size: 3.5rem; }
  .leadText {
    font-size: 2.5rem; }
  .leadTitle {
    font-size: 2.5rem; }
  .sixthPageBlock {
    height: 20vh;
    font-size: 200%; } }

@media screen and (min-width: 768px) and (max-width: 769px) and (min-height: 1023px) and (max-height: 1025px) {
  .secondPageTopBlockText {
    font-size: 1.4rem; }
  .secondPageBottomBlockText {
    font-size: 1.4rem; }
  .fourthPageText {
    font-size: 1.4rem; } }

@media screen and (min-width: 1365px) and (max-width: 1367px) and (min-height: 1023px) and (max-height: 1025px) {
  .secondPageTopBlockText {
    font-size: 1.7rem; } }

@media screen and (min-width: 650px) and (max-width: 700px) and (min-height: 750px) and (max-height: 800px) {
  .secondPageTopBlockText {
    font-size: 2rem; }
  .secondPageTopLeftPicture {
    background-size: 100% 100%; }
  .secondPageTopRightPicture {
    background-size: 100% 100%; }
  .secondPageBottomBlockText {
    font-size: 2rem; }
  .fourthPageSmallText {
    font-size: 2rem; }
  .textBold {
    font-size: 2rem; } }

@media screen and (min-width: 430px) and (max-width: 650px) {
  .newPageContainerN3 {
    margin: 0; } }

@media screen and (min-width: 300px) and (max-width: 340px) and (min-height: 350px) and (max-height: 400px) {
  .secondPageTopBlock {
    height: 60vh; } }

@media screen and (min-width: 350px) and (max-width: 400px) and (min-height: 300px) and (max-height: 340px) {
  .secondPageTopBlock {
    height: 60vw; } }

@media screen and (min-width: 767px) {
  .secondPageTopBlock:nth-child(1) {
    margin-right: 0; }
  .secondPageTopBlock:nth-child(2) {
    margin-left: 1vw; } }

@media screen and (max-width: 1120px) {
  .secondPageTopBlock {
    height: 35vh; } }

@media screen and (max-width: 867px) {
  .secondPageTopBlock {
    height: 30vh; } }

@media screen and (min-width: 550px) and (max-width: 580px) and (min-height: 300px) and (max-height: 350px) {
  .secondPageTopRightPicture {
    margin: 0; } }

@media screen and (min-width: 700px) and (min-height: 1000px) {
  .secondPageTopRightPicture {
    height: 50%; }
  .secondPageTopLeftPicture {
    height: 60%; } }

@media screen and (min-width: 1000px) and (min-height: 1000px) {
  .secondPageTopBlockText {
    padding-right: 3vmax; }
  #lastCard {
    margin-right: 4vmax; }
  .newPage .titleHeader {
    padding-right: 3vmax; }
  .fifthPageLeadContainer {
    margin-right: 3vmax; } }
