@font-face {
  font-family: 'Montserrat Italic';
  src: url("Montserrat-Italic.eot");
  src: url("Montserrat-Italic.eot?#iefix") format("embedded-opentype"), url("Montserrat-Italic.woff") format("woff"), url("Montserrat-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@keyframes textAnimation {
  0% {
    opacity: 0; }
  5% {
    opacity: 0;
    -moz-transform: translateY(-30px); }
  10% {
    opacity: 1;
    -moz-transform: translateY(0); }
  25% {
    opacity: 1;
    -moz-transform: translateY(0); }
  30% {
    opacity: 0;
    -moz-transform: translateY(30px); }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@-webkit-keyframes textAnimation {
  0% {
    opacity: 0; }
  5% {
    opacity: 0;
    -webkit-transform: translateY(-30px); }
  10% {
    opacity: 1;
    -webkit-transform: translateY(0); }
  25% {
    opacity: 1;
    -webkit-transform: translateY(0); }
  30% {
    opacity: 0;
    -webkit-transform: translateY(30px); }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@-ms-keyframes textAnimation {
  0% {
    opacity: 0; }
  5% {
    opacity: 0;
    -ms-transform: translateY(-30px); }
  10% {
    opacity: 1;
    -ms-transform: translateY(0); }
  25% {
    opacity: 1;
    -ms-transform: translateY(0); }
  30% {
    opacity: 0;
    -ms-transform: translateY(30px); }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

html {
  background-color: #e3e3e3;
  /* IE9, iOS 3.2+ */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjZTJlMmUyIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNkYmRiZGIiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjUiLz48c3RvcCBzdG9wLWNvbG9yPSIjZDFkMWQxIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC41MSIvPjxzdG9wIHN0b3AtY29sb3I9IiNmZWZlZmUiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0, #e2e2e2), color-stop(0.5, #dbdbdb), color-stop(0.51, #d1d1d1), color-stop(1, #fefefe));
  /* Android 2.3 */
  background-image: -webkit-repeating-linear-gradient(top, #ececec 0%, #f0eeee 50%, #e8e7e7 51%, #fefefe 100%);
  /* IE10+ */
  background-image: repeating-linear-gradient(to bottom, #ececec 0%, #f0eeee 50%, #e8e7e7 51%, #fefefe 100%);
  background-image: -ms-repeating-linear-gradient(top, #ececec 0%, #f0eeee 50%, #e8e7e7 51%, #fefefe 100%); }

body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: auto;
  overflow: hidden; }

.bgVideo {
  display: block;
  width: 100%;
  height: 100%; }

.headerScrolled {
  background-color: white; }
  .headerScrolled .nav-item {
    color: black; }

.headerFade {
  opacity: 0;
  transform: translateY(-100%); }

.header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  top: 0;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  z-index: 1000;
  transition: 0.3s; }
  .header .logo {
    font-weight: bold;
    width: 20%;
    height: 60px;
    margin: 10px 0 0 20px;
    display: flex;
    flex: none;
    justify-content: flex-start;
    align-items: center; }
  .header a {
    color: #fff;
    text-decoration: none; }
  .header .nav-item:hover {
    text-decoration: underline; }
  .header #menu-checkbox {
    display: none; }
  .header nav {
    margin-right: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end; }
  .header .nav-item {
    font-size: 100%;
    text-align: center;
    margin: 5px 0 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
    text-transform: uppercase;
    font-family: 'Montserrat Italic'; }
  .header #headerNav {
    position: fixed;
    z-index: 999; }

.nav-menu {
  display: flex; }

.homePage {
  margin-top: 60px;
  width: 100vw;
  height: 100vh;
  min-width: 430px;
  margin: auto;
  background-size: cover;
  background-repeat: no-repeat;
  flex: auto;
  box-sizing: border-box; }
  .homePage .homeTextWrapper {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    top: -30%; }
  .homePage .bigLine {
    padding-top: 35rem;
    width: 70%;
    min-height: 80px;
    margin-left: 70px;
    font-family: 'Montserrat Italic';
    font-size: 60%;
    display: flex; }
  .homePage .bigText {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 5%; }
  .homePage .smallText {
    display: flex;
    flex-direction: column;
    margin-left: 70px; }
  .homePage .smallLine {
    color: white;
    min-height: 30px;
    font-family: 'Montserrat Italic';
    width: 40%;
    line-height: 1.5; }
  .homePage .smallLine2 {
    color: white;
    min-height: 30px;
    font-family: 'Montserrat Italic';
    width: 60%;
    margin-top: 1.5em; }
  .homePage .cityText {
    color: #378ef0; }
  .homePage .homeTitle {
    text-transform: capitalize;
    text-shadow: -1px -1px 10px rgba(0, 0, 0, 0.1);
    color: white;
    font-weight: 700;
    height: auto;
    width: 100%;
    display: block;
    margin: .3em 0;
    font-size: 50px;
    box-sizing: border-box; }
  .homePage .verticalSlider {
    display: inline;
    text-indent: 12px; }
  .homePage .verticalSlider span {
    animation: textAnimation 9s linear infinite 0s;
    -ms-animation: textAnimation 9s linear infinite 0s;
    -webkit-animation: textAnimation 9s linear infinite 0s;
    color: #378ef0;
    overflow: hidden;
    opacity: 0;
    position: absolute;
    font-weight: 700 !important; }
  .homePage .verticalSlider span:nth-child(2) {
    animation-delay: 3s;
    -ms-animation-delay: 3s;
    opacity: 0;
    -webkit-animation-delay: 3s; }
  .homePage .verticalSlider span:nth-child(3) {
    animation-delay: 6s;
    -ms-animation-delay: 6s;
    opacity: 0;
    -webkit-animation-delay: 6s; }

.newPage {
  height: 100vh;
  width: 100vw; }
  .newPage .newPageContainer {
    display: flex;
    flex-direction: column;
    height: 100%; }
  .newPage .titleHeader {
    margin-left: 20vh;
    display: flex;
    height: 15vh;
    align-items: flex-end;
    justify-content: flex-start;
    text-transform: uppercase;
    color: black;
    font-family: 'Montserrat Italic'; }
  .newPage #titleHeaderLine {
    visibility: hidden;
    padding-right: 2vh;
    font-size: 2em;
    display: flex;
    color: #378ef0;
    align-items: center;
    height: 2.5rem; }
  .newPage .picturesContainer {
    height: 100%;
    width: 100vw;
    display: flex;
    padding-top: 5%; }
  .newPage .expertisePicture {
    background-color: #808080;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjEwMCUiPjxzdG9wIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
    background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, black), color-stop(1, white));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(top left, black 0%, white 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(to bottom right, black 0%, white 100%);
    background-image: -ms-repeating-linear-gradient(top left, black 0%, white 100%);
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: white;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 24px;
    height: 80%;
    -webkit-box-shadow: 5px 5px 20px 0 rgba(10, 56, 152, 0.1);
    box-shadow: 5px 5px 20px 0 rgba(10, 56, 152, 0.1);
    width: 20%;
    margin-left: 7%;
    border-radius: 10px; }
  .newPage #ux-ui {
    display: flex;
    font-family: 'Montserrat Italic'; }
  .newPage #end-to-end {
    display: flex;
    font-family: 'Montserrat Italic';
    margin-top: 5%; }
  .newPage #extendedTeam {
    display: flex;
    font-family: 'Montserrat Italic'; }
  .newPage .blockTextHeader {
    display: flex;
    justify-content: center;
    font-weight: 700;
    height: 10%;
    font-size: 2em;
    color: #378ef0; }
  .newPage .expertiseContainer {
    overflow: hidden; }
  .newPage .expertiseText {
    display: flex;
    align-items: center;
    height: 80%; }
  .newPage .expertiseSmallPicture {
    width: 100%; }
  .newPage .expertiseSmallPicture:hover {
    transform: scale(1.5);
    transition: .3s; }

@media screen and (max-width: 767px) {
  .header {
    width: 100%;
    display: flex;
    justify-content: space-around; }
  .nav-menu {
    display: none; }
  .nav-menu a {
    display: block;
    padding: 8px;
    width: 100%; }
  .toggle-button {
    text-align: center;
    display: block;
    cursor: pointer;
    color: #000;
    margin-top: 10px; }
  .toggle-button::after {
    content: attr(data-open);
    color: #378ef0;
    top: 30px;
    font-weight: 1000;
    font-family: 'Montserrat Italic';
    display: block;
    position: absolute;
    right: 90px; }
  #menu-checkbox:checked + nav[role='navigation'] .nav-menu {
    display: block;
    position: absolute;
    right: 40px;
    top: 60px; }
  #menu-checkbox:checked + nav[role='navigation'] .toggle-button::after {
    content: attr(data-close);
    position: absolute; }
  .header a {
    margin-right: -65px; }
  .header .nav-item {
    font-size: 10px; }
  .header .logo {
    width: 20%;
    justify-content: flex-start;
    position: absolute;
    left: 0;
    top: 5%; }
  .nav-menu {
    position: relative;
    top: 30px;
    padding-right: 8%; }
  .homePage .homeTitle {
    font-size: 20px; } }

.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative; }

.no-video .video-container video,
.touch .video-container video {
  display: none; }

video::-webkit-media-controls-start-playback-button {
  display: none; }

video {
  pointer-events: none; }

.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important; }

.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100vh;
  width: 100vw;
  background: #000; }

.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute; }

.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rbga(0, 0, 0, 0.4);
  width: 100%; }

.video-container video {
  position: absolute;
  z-index: 0;
  top: 50%;
  width: 100%;
  object-fit: cover;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 100%;
  min-width: 100%; }

.video-container video.fillWidth {
  width: 100vw;
  height: 100vh; }

@media screen and (min-width: 700px) and (max-width: 1024px) {
  .header .nav-item {
    font-size: 10px; } }

@media screen and (min-width: 1900px) {
  .homePage .bigLine {
    padding-top: 70%; } }

@media screen and (max-width: 890px) {
  .newPage .expertisePictures {
    width: 30%; }
  .newPage .expertiseText1 {
    font-size: 0.8em; }
  .newPage .expertiseText2 {
    font-size: 0.8em; }
  .newPage .expertiseText3 {
    font-size: 0.8em; } }

@media screen and (max-width: 500px) {
  .newPage .expertiseText1 {
    font-size: 0.5em; }
  .newPage .expertiseText2 {
    font-size: 0.5em; }
  .newPage .expertiseText3 {
    font-size: 0.5em; } }

@media screen and (max-width: 600px) {
  .homePage .homeTextWrapper {
    display: none; } }
